*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
h1{
  padding: 30px 85px;
  margin: 10px;
  background-color: rgb(92, 91, 91);
  color: #fff;
  border-radius: 10px;
  width: fit-content;
  font-size: 100px;
}
button{
  padding: 8px 20px;
  border-radius: 5px;
  background-color:#072e48;
  color: white;
  border: none;
  margin: 10px;
  font-size: 15px;
}